.infoContainer {
  display: flex;
  flex-direction: row;
  width: 350;
  height: 100;
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 60%;
  left: 40%;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 1px;
  color: white;
}

.link {
  margin-right: 80px;
}

.link2 {
  margin-left: 80px;
}
